# dependencies
node_modules/

# production build
dist/
build/

# environment variables
.env
.env.local
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# Data
data/raw/
data/processed/

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Models
/models/
runs/

# misc
*.log
